# Introduction (Unit I)

## 1.- Import data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt

In [2]:
#Load data from csv and store it in dataframe
data = pd.read_csv("HCV-Egy-Data.csv") #We can change this database

# We show the first 
data.head() # Return the first n rows.

,Age,Gender,BMI,Fever,Nausea/Vomting,Headache,Diarrhea,Fatigue & generalized bone ache,Jaundice,Epigastric pain,...,ALT 36,ALT 48,ALT after 24 w,RNA Base,RNA 4,RNA 12,RNA EOT,RNA EF,Baseline histological Grading,Baselinehistological staging
0,56,1,35,2,1,1,1,2,2,2,...,5,5,5,655330,634536,288194,5,5,13,2
1,46,1,29,1,2,2,1,2,2,1,...,57,123,44,40620,538635,637056,336804,31085,4,2
2,57,1,33,2,2,2,2,1,1,1,...,5,5,5,571148,661346,5,735945,558829,4,4
3,49,2,33,1,2,1,2,1,2,1,...,48,77,33,1041941,449939,585688,744463,582301,10,3
4,59,1,32,1,1,2,1,2,2,2,...,94,90,30,660410,738756,3731527,338946,242861,11,1

## 2.- Data set description - "Hepatitis C Virus (HCV) for Egyptian patients"

Egyptian patients who underwent treatment dosages for HCV about 18 months. Discretization should be applied based on expert recommendations; there is an attached file shows how.



*Age: Age
*Gender Gender
*BMI Body Mass Index
Fever Fever
Nausea/Vomting Nausea/Vomting
Headache Headache
Diarrhea Diarrhea
Fatigue & generalized bone ache Fatigue & generalized bone ache
Jaundice Jaundice
Epigastric pain Epigastric pain
WBC White blood cell
RBC red blood cells
HGB Hemoglobin
Plat Platelets
AST 1 aspartate transaminase ratio
ALT 1 alanine transaminase ratio 1 week
ALT 4 alanine transaminase ratio 12 weeks
ALT 12 alanine transaminase ratio 4 weeks
ALT 24 alanine transaminase ratio 24 weeks
ALT 36 alanine transaminase ratio 36 weeks
ALT 48 alanine transaminase ratio 48 weeks
ALT after 24 w alanine transaminase ratio 24 weeks
RNA Base RNA Base
RNA 4 RNA 4
RNA 12 RNA 12
RNA EOT RNA end-of-treatment
RNA EF RNA Elongation Factor
Baseline histological Grading Baseline histological Grading
Baselinehistological staging Baselinehistological staging

#### a) We indicate the type each variable is (numerical, categorical, etc.).

In [3]:
data.dtypes

Age                                   int64
Gender                                int64
BMI                                   int64
Fever                                 int64
Nausea/Vomting                        int64
Headache                              int64
Diarrhea                              int64
Fatigue & generalized bone ache       int64
Jaundice                              int64
Epigastric pain                       int64
WBC                                   int64
RBC                                 float64
HGB                                   int64
Plat                                float64
AST 1                                 int64
ALT 1                                 int64
ALT4                                float64
ALT 12                                int64
ALT 24                                int64
ALT 36                                int64
ALT 48                                int64
ALT after 24 w                        int64
RNA Base                              int64
RNA 4                                 int64
RNA 12                                int64
RNA EOT                               int64
RNA EF                                int64
Baseline histological Grading         int64
Baselinehistological staging          int64
dtype: object

#### b) Columns name

In [4]:
data.columns

Index(['Age ', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting', 'Headache ',
       'Diarrhea ', 'Fatigue & generalized bone ache ', 'Jaundice ',
       'Epigastric pain ', 'WBC', 'RBC', 'HGB', 'Plat', 'AST 1', 'ALT 1',
       'ALT4', 'ALT 12', 'ALT 24', 'ALT 36', 'ALT 48', 'ALT after 24 w',
       'RNA Base', 'RNA 4', 'RNA 12', 'RNA EOT', 'RNA EF',
       'Baseline histological Grading', 'Baselinehistological staging'],
      dtype='object')

#### c) Removing column blank spaces

In [5]:
data.columns = data.columns.str.replace(' ', '')
data.columns

Index(['Age', 'Gender', 'BMI', 'Fever', 'Nausea/Vomting', 'Headache',
       'Diarrhea', 'Fatigue&generalizedboneache', 'Jaundice', 'Epigastricpain',
       'WBC', 'RBC', 'HGB', 'Plat', 'AST1', 'ALT1', 'ALT4', 'ALT12', 'ALT24',
       'ALT36', 'ALT48', 'ALTafter24w', 'RNABase', 'RNA4', 'RNA12', 'RNAEOT',
       'RNAEF', 'BaselinehistologicalGrading', 'Baselinehistologicalstaging'],
      dtype='object')

#### d) Adding a categorical variable (from 'Baselinehistologicalstaging')

In [ ]:
category=pd.cut(data.Baselinehistologicalstaging,bins=[0,2,17,40,65,99],labels=['Baby','Child','Adult1', 'Adult2','Elderly'])
data.insert(8,'AgeCategory', category) # In the 8th position.
data.columns